/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
h1{
  font-size: 35px; /* change the size of the heading */
  font-family: monaco;
  margin-bottom: 20px; /*change the space between heading and bottom paragraph */
  color: #4c0643; 
  display: block; 
  margin-left: auto;
  margin-right: auto;
  text-align: center; /* Center text within the paragraph */
  width: 50%;         /* Optional, to control the width of the paragraph */
  }
  .minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: dotted 4px #9494ec;
    background-color: #31092c;
    font-family: monaco;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    text-align: center; /* Center text within the paragraph */
    width: 50%;         /* Optional, to control the width of the paragraph */
  }
  h2 { 
    font-family: monaco; /* changing the content (the titles of the sections) */
    color: #f6b4ed;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    text-align: center; /* Center text within the paragraph */
    width: 50%;         /* Optional, to control the width of the paragraph */
  }
  
  p {
    text-indent: 25px; /* indent the paragraph by 50 pixels */
    font-family: monaco;
    color: #f6b4ed; 
    font-size: 15px; /* change the size of paragraph */
    display: block; 
    margin-left: auto;
    margin-right: auto;
    text-align: center; /* Center text within the paragraph */
    width: 50%;         /* Optional, to control the width of the paragraph */
  }

  .special {
    font-weight: bold; 
    color: #31092c;
    background-color: pink;
  }
  