/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
h1{
  font-size: 35px; /* change the size of the heading */
  font-family: monaco;
  margin-bottom: 20px; /*change the space between heading and bottom paragraph */
  color: #000000; 
  display: block; 
  margin-left: auto;
  margin-right: auto;
  }
  .minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #f7af13;
    background-color: #f5d89a;
    font-family: monaco;
    display: block; 
    margin-left: auto;
    margin-right: auto;
  }
  h2{ 
    font-family: monaco; /* changing the content (the titles of the sections) */
    color: #784f08;
    display: block; 
    margin-left: auto;
    margin-right: auto;
  }
  
  p{
    text-indent: 25px; /* indent the paragraph by 50 pixels */
    font-family: monaco;
    color: rgb(121, 91, 30);
    font-size: 15px; /* change the size of paragraph */
    display: block; 
    margin-left: auto;
    margin-right: auto;
  }
  #nissan-img {
    width: 250px;
    float: right;
  }
  #content {
    margin: 10px;
    padding: 10px;
    border: solid 1px #341e0d;
    background-color: rgb(81, 44, 6);
  }
  